/* Estils generals */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.main-header {
    background-color: #000;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo { color: #1DB954; font-weight: bold; font-size: 1.5rem; }

/* Contenidor Principal (Flexbox) */
.app-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #000;
    padding: 20px;
    border-right: 1px solid #282828;
}

/* Zona Central */
.content {
    flex: 1;
    padding: 30px;
    background: linear-gradient(to bottom, #222, #121212);
}

/* Llistes */
ul { list-style: none; padding: 0; }

li {
    background-color: #181818;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
}

li:hover { background-color: #282828; }

/* Botons */
button {
    background-color: #1DB954;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
}

button:hover { transform: scale(1.05); }

.player-controls {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #1DB954;
    border-radius: 10px;
}

.botones-orden{
    display: flex;
}